.actions {
    display: flex;
    background-color: var( --admin-dark);
    padding: 0;
    border-radius: 10px;
}

.actions .edit-btn,
.actions .delete-btn {
    background-color: var( --admin-dark);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
  
.actions .edit-btn {
    background-image: url(/src/assets/svg/icons/edit.svg);
}
  
.actions .delete-btn {
    background-image: url(/src/assets/svg/icons/delete.svg);
}
  
.actions .btn-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    max-height: 23px;
}
  
.actions .btn-wrapper:first-of-type {
    border-right: 1px solid var(--admin-actions-btn-divider-color);
}

@media (min-width: 450px) {
    .actions .btn-wrapper {
      padding: 12px 22px;
    }
}


  