body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.genres-page {
    padding: 20px 0;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
  
.genres-page .top-bar-wrapper .title {
    font-size: 1.5625em;
    margin-bottom: 20px;
}
  
.genres-page .top-bar-wrapper {
    display: flex;
    flex-direction: column;
}
  
.genres-page .top-bar-wrapper .top-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    width: 70%;
}
  
.genres-page .top-bar-wrapper .top-bar .search-input {
    flex-grow: 1;
    padding: 11px;
    background-color: var(--admin-input-bg);
    border: none;
    border-radius: 4px;
    color: var( --admin-dark);
    font-size: 1em;
}
  
.add-genre-btn {
    padding: 13px 20px;
    background-color: var(--primary-light);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.0625em;
    color: var(--admin-add-button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    max-width: 235px;
}
  
.genres-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  
.genre-item {
    background-color: var(--admin-list-item-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    border-radius: 8px;
    gap: 10px;
}
  
.genre-item:hover {
    background-color: var(--admin-list-item-hover-color);
    cursor: pointer;
}
  
.genre-item span {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}
  
.genre-item input {
    width: 30%;
    padding: 8px 18px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: var(--admin-input-bg);
    transition: border-color 0.3s ease;
}
  
.genre-item input:focus {
    box-shadow: 0 0 5px var(--confirm-modal-focus-shadow); 
}
  
.genre-item input::placeholder {
    color: var(--admin-input-placeholder-color); 
}
  
@media (min-width: 450px) {
    .genre-item span,
    .genre-item input {
      font-size: 1.1875em;
      padding: 18px 18px 18px 35px;
    }
}

@media (min-width: 600px) {
    .genre-item input {
      width: 50%;
    }
}

@media (max-width: 600px) {
    .genres-page .top-bar-wrapper .top-bar {
      flex-direction: column;
      align-items: stretch;
    }
}
  
@media (min-width: 900px) {
    .genres-page .top-bar-wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
}
  
@media (max-width: 900px) {
    .genres-page .top-bar-wrapper {
      width: 100%;
      margin: 0 auto;
    }
  
    .genres-page .top-bar-wrapper .top-bar {
      width: 100%;
    }
}
  
@media (min-width: 1200px) {
    .genres-page .top-bar-wrapper .top-bar {
      width: 55%;
    }
}
  