.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 60px 0 20px 0;
  }
  
  .pagination button {
    background-color: var(--admin-pagination-item-bg);
    padding: 10px 17px;
    font-size: 0.875em;
    cursor: pointer;
    border-radius: 8px; 
    transition: all 0.3s ease;
    color: var(--confirm-modal-bg);
    font-weight: 600;
  }
  
  .pagination button:hover:not(.active):not(:disabled):not(:first-child):not(:last-child) {
    transform: translateY(-3px); 
  }
  
  .pagination button.active {
    background-color: var(--primary-light); 
    color: var(--admin-dark);
  }
  
  .pagination button:disabled {
    background-color: var(--admin-pagination-inactive-bg);  
    color: var(----admin-actions-btn-divider-color); 
    cursor: not-allowed;
  }
  
  .pagination button:focus {
    outline: none;
  }
  
  .pagination button:first-child,
  .pagination button:last-child {
    font-weight: bold;
    padding: 10px;
    font-size: 0.875em;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination button[disabled] {
    pointer-events: none; 
  }
 