.cinema-container {
  color: #fff;
  padding: 2rem;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.cinema-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.cinema-header h2 {
    font-size: 1.5625em;
}

.hall-actions-header,
.hall-actions {
  display: flex;
  justify-content: center;
}

.hall-add-button {
    padding: 13px 20px;
    background-color: var(--primary-light);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.0625em;
    color: var(--admin-add-button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    max-width: 235px;
    text-transform: none;
}

.no-halls {
  padding: 1rem;
  text-align: center;
  color: #777;
}

.hall-table-container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1rem;
}

.hall-table-header,
.hall-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1.5fr 1fr;
  padding: 12px;
  align-items: center;
}

.hall-table-header {
  background-color: var(--admin-list-item-hover-color);
  color: white;
  font-weight: bold;
  padding: 35px;
  text-align: center;
}

.hall-table-header span {
  text-transform: uppercase;
}

.hall-table-row {
  border-top: 2px solid var(--admin-list-item-color);
  background-color: #2e2e2e;
  text-align: center;
  padding: 20px 16px;
}

.hall-table-row:hover {
  background-color: var(--admin-list-item-color);
}

.hall-actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.hall-actions-header {
  text-align: center;
  margin-right: 32%;
  margin-left: auto;
}

.hall-name {
    margin-right: 17%;
    margin-left: 0;
}

.cinemahall-add-button-style {
    width: 180px;
    margin-right: 3%;
}

@media (max-width: 768px) {
  .hall-table-header {
    display: none;
  }

  .hall-table-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    text-align: left;
    gap: 10px;
    border-top: 1px solid #444;
  }

  .hall-table-row span {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.875em;
  }

  .hall-table-row span::before {
    content: attr(data-label);
    font-weight: bold;
    color: #ccc;
  }

  .hall-actions {
    justify-content: flex-start;
    gap: 12px;
  }

  .cinema-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .hall-add-button {
    width: 100%;
  }

}